<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @user.posts.any? %>
		<h3>posts (<%= @user.posts.count %>)</h3>	
		<ol class="posts">
			<%@posts.each do |post| %>
			<%= render post %>
			<% end %>
		</ol>
		<% unless @posts.empty? %>
		<%= will_paginate @posts %>
		<% end %>
		<% end %>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
 <div class="section">
	<div class="container">
		<h1>My Bolg</h1>
		 <%= will_paginate @posts %>
		   <% @posts.each do |post| %>
			<%= render post %>
		<% end %>
		<%= will_paginate @posts %>
	</div>
</div>
  </div>

 
<% end %>