<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
       <strong><%= comment.user.name %>:</strong>
          <%= comment.content %>
          <% if logged_in? && current_user?(@post.user) %>
           <%= link_to "Delete", comment_path(comment.id), method: :delete,
                                  data: { confirm: "You sure?" } %>
                                  
                                
          <% end %>
        </p>
      </div>
    </div>
  </article>
</div>