<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object:f.object %>
  <div class="comment-textarea">
  	 <div><%= hidden_field_tag :use_id, @user.id %></div>
  	  <div><%= hidden_field_tag :post_id, @post.id %></div>
    <%= f.text_area :content %>
    
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>


