<li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user_path(user) %>
      <%= mail_to user.email, user.email %>
      <% if logged_in? %>
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user_path(user), method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
      <% end %>
 </li>