<% provide(:title, 'All users') %>
<h1>All users</h1>

  <% if current_user.admin? %> 
              <%= render 'import_form' %>
             <% end %>
<%= will_paginate %>
<ul class="users">
  <%@users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>