<% provide(:title, @user.name) %>

<div class="row">
	<aside class="col-md-4">
		 <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
	</aside>

	<div class="col-md-8">
		<% if @user.posts.any? %>
						<ol class="posts">
							<ul class="users follow">
								<% if !@user_profile.nil? %>
								<% @user_profile["profile"].each do |k, v| %>

								<li>
									<%= k %> : <%= v%>
								</li>
								<% end %>
								<% end %>
							</ul>

							<p>	<% if !@user_profile.nil? %>
								<pre><%= JSON.pretty_generate(@user_profile) %></pre>
				             <% end %>
              </p>
            </ol>
			<% end %>
	</div>
</div>