<% provide(:title, @title) %>
<div class="row">
	<aside class="col-md-4">
		 <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
		<section class="stats">
         <%= render 'shared/stats' %>
       </section> 
	</aside>
	
	<div class="col-md-8">
		<%= render 'follow_form' if logged_in? %>
		<% if @user.posts.any? %>
		<h3>posts (<%= @user.posts.count %>)</h3>	
		<ol class="posts">
			<%@posts.each do |post| %>
			<%= render post %>
			<% end %>
		</ol>
		
		<% end %>
	</div>
</div>