<%= link_to gravatar_for(@user, size: 60), @user %>
<h1><%= @user.name %></h1>
<span><%= link_to "view my profile", @user %></span>
<span><%= link_to pluralize(@user.posts.count, "post"), posts_user_path(@user) %></span>
