<% if logged_in? %>
<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object:f.object %>
  <div class="field">
  	
  	<h3><%= f.label "New Post" %></h3>
    <%= f.text_field :title, class: 'form-control',placeholder: "Title..." %>
    <%= f.text_area :content, class: "tinymce",:rows => "15" %>
  </div>
  <div><%= f.submit "Post", class: "btn btn-primary" %></div>
<% end %>
<% end %>
<script>
<%= tinymce %>
</script>