<div class="blog-container-home">
  
  <div class="blog-header">
      <div class="blog-author-home">
        <h3><%= link_to gravatar_for(post.user, size: 30), post.user %><%= link_to post.user.name, post.user %></h3>

      </div>
    
  </div>

  <div class="blog-body">
    <div class="blog-title">
      <h1><%= link_to post.title, post_path(post) %></h1> 
      <div class="blog-operation">
      
     <% if logged_in? && current_user?(post.user) %>
     
     <%= link_to "Edit", edit_post_path(post) %>
    | <%= link_to "Delete", post_path(post), method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>

</div>
    </div>
    <div class="blog-summary">
    	   <% if post.content.length > 200 %>
      <p><%= post.content.to_s[0..200] %>....<%= link_to "Mehr", post_path(post) %></p>
      <% else %>
      <p><%= post.content %></p>
      <% end %>
    </div>
  </div>
  
  <div class="blog-footer">
    <ul>
      <li class="published-date">Posted <%= time_ago_in_words(post.created_at) %> ago.</li>
      <li class="comments"><svg class="icon-bubble"><use xlink:href="#icon-bubble"></use></svg><span class="numero"><%= pluralize(post.comments.count, "comment") %></span></li>
    </ul>
  </div>

</div>
 