<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		 <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
		<section class="stats">
         <%= render 'shared/stats' %>
       </section>
	</aside>
	
	<div class="col-md-8">
		
       <%= render 'form' %>
	</div>
</div>

