
<% provide(:title, @user.name) %>
<div class="row">

	<% if logged_in? %>
	<aside class="col-md-4">

		<section class="user_info">
			<h1> <%= gravatar_for @user, size: 60 %>
			<%= @user.name %> </h1>
			<span><%= link_to pluralize(@user.posts.count, "post"), @post.user %></span>
		</section>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<% end %>

	<% if logged_in? %>
	<div class="col-md-8">
		<% else %>
		<div class="col-md-12">
			<% end %>

			<div class="blog-container-home">

				<div class="blog-header">
					<div class="blog-author">
						<h3><%= link_to gravatar_for(@post.user, size: 30), @post.user %><%= link_to @post.user.name, @post.user %></h3>
					</div>

				</div>

				<div class="blog-body">
					<div class="blog-title">
						<h1><a href="#"><%= link_to @post.title, post_path(@post) %></a></h1>
					</div>
					<div class="blog-operation">
						<% if logged_in? && current_user?(@post.user) %>

						<%= link_to "Edit", edit_post_path(@post) %>
						| <%= link_to "Delete", post_path(@post), method: :delete,
						data: { confirm: "You sure?" } %>
						<% end %>
					</div>
					<div class="blog-summary">
						<p>
							<%= @post.content %>
						</p>
					</div>
				</div>

				<div class="blog-footer">
					<ul>
						<li class="published-date">
							Posted <%= time_ago_in_words(@post.created_at) %> ago.
						</li>
						<li class="comments">
             <span class="numero"><%= pluralize(@comments.count, "comment") %></span>
						</li>
					</ul>
				</div>

				<div class="blog-comments">		
						 <% if @comments.count > 0 %>
						 <h3>Comment:</h3>
						 <hr />
						<%@comments.each do |comment| %>
			         <%= render comment %>
			         <% end %>
						 <% end %>
						<div class="comment-form">
							<hr />
							<% if logged_in? %>
							<h3 class="subtitle is-3">Leave a comment</h3>
							<%= render 'comments/form' %>
							<% end %>
						</div>
					</div>
			</div>
		</div>
	</div>

