<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        
    <%= link_to image_tag("hits.png", id:"logo",class:"logo_icon", alt: "HITS logo", width:'236', height:'112'),
            root_path %>   
           
        <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Publications", publications_path %></li>
        <li><%= link_to "Search", search_path %></li>
        <% if logged_in? %>
          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "Users List", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <%= current_user.name %> 
             <% if current_user.admin? %> 
              (admin)
             <% end %>
             <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider" ></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
      </div>
    </header>
    



