<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- external scripts -->
    <%= javascript_include_tag "https://unpkg.com/itemsjs@latest/dist/itemsjs.min.js" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/vue/latest/vue.js" %>



    <%= render 'layouts/shim' %>
  </head>
  <body>
     <%= render 'layouts/header' %>
    <div class="container container_body">
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
       <%= debug(params) if Rails.env.development? %>
    </div>
    
  </body>
</html>